<% var flashClass = ""; %>

<% if (signinMessage.length > 0) {

    if(signinMessage == 'No user found!!') {
        flashClass = 'info';
    }
    else if(signinMessage == 'You logged in successfully!!') {
        flashClass = 'success';
    }
    else {
        flashClass = 'danger';
    }
%>
    <div class="alert alert-<%= flashClass %>">
        <%= signinMessage %>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if (signupMessage.length > 0) {

    if(signupMessage == 'Your user was successfully created!!') {
        flashClass = 'success';
    }
    else {
        flashClass = 'danger';
    }
%>
    <div class="alert alert-<%= flashClass %>">
        <%= signupMessage %>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>